<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

<div class="row">
  <div class="col-6">
    <h1>Users</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ add user</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>

 
    <tr>
      <% for(var i = 0; i < user.length ; i++) { %>
        <tr>
            
            <td><%= user[i].id %></td>
            <td><%= user[i].username %></td>
            <td><%= user[i].email %></td>
            <td><%= user[i].password %></td>
           
        </tr>
        <% } %>
    </tr>

  </tbody>
</table>


<button onclick="addUser()">ajouter</button>

<script>
  function addUser(){

        data={
          username:'sass',
          email:'saaa',
          role:'admin',
      
        };
        (async () => {
      const rawResponse = await fetch('/users', {
          method: 'POST',
          headers:{
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(response => response.json()) 
          .then(json => console.log(json))
          .catch(err => console.log(err));
      })();
  }
</script>

</body>
</html>

